@CHARSET "ISO-8859-1";

/* padrões */
/* para que todos os elementos se comportem considerando o seu tamanho com width e height independente de usar padding e border */
* {-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}

/* reseta todos os elementos por questões de compatibilidade com navegadores */
* {border:0; padding:0; margin:0;}

html, body {height:100%; font-family:verdana, arial, sans-serif; font-size:12px; overflow-x:hidden;}
body * {font-size:1em;}
table, input, textarea {width:100%;}
table tr td {vertical-align:top;}
#frame {
	
	padding-left: 10px;
	 width:970px;
	 height:80px;
	
}
#frame a{
	target:_blank !important;
}
#menu-item-2 a{
	target:_blank !important;
}
#table{
width:960px !important;
height: 281px !important;
border: 0 !important;
align: center !important;
cellpadding: 0 !important;
cellspacing: 0 !important;
}
#footer {
	
	
}

/* outros estilos */
div.limpa {clear:both;}
.required {color:#E41026; font-weight:bold;}
.paraRemocao {text-decoration:line-through;}
div.camposObrigatorios {clear:both; margin:10px 0;}
div.camposObrigatorios span {margin-right:5px;}
.tamanho100 {width:100px;}
.tamanho130 {width:130px;}
.tamanho150 {width:150px;}
.tamanho200 {width:200px;}
.tamanhoCampoAcoesTabela {width:70px;}
/* para nã outilizar 100% nas tabelas desejadas */
.componenteTamanhoNormal {float:left;}
.componenteTamanhoNormal table {width:auto;}
/* tamanhos máximos para os campos de entrada de dados */
.maxCampoTexto {max-width:300px;}
.maxCampoTextoP {max-width:50px;}
.maxCampoTextoG {max-width:500px;}
.maxCampoSenha {max-width:150px;}
.maxCampoCEP {max-width:80px;}
.maxCampoCNPJ {max-width:130px;}
.maxCampoNumeroP {max-width:50px;}
.maxCampoNumeroM {max-width:150px;}
.maxCampoNumeroG {max-width:200px;}